In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('tavirathu13.txt', delimiter=' ', names=['varos','ido', 'szel','temp'], dtype={'ido': object})
df['ora'] = df['ido'].str[0:2]
df['perc'] = df['ido'].str[2:]
df['szelirany'] = df['szel'].str[0:3]
df['szelseb'] = df['szel'].str[3:].astype(int)
df.drop(['ido', 'szel'], axis = 1, inplace = True)
print('1. feladat')
df

1. feladat

    varos  temp ora perc szelirany  szelseb
0      BP    23  00   00       VRB        2
1      DC    23  00   15       150        5
2      SM    21  00   15       010       13
3      PA    20  00   15       340       16
4      SN    24  00   15       170        4
..    ...   ...  ..  ...       ...      ...
369    KE    19  23   45       050        4
370    PA    17  23   45       340       14
371    DC    21  23   45       350        7
372    SM    16  23   45       330       10
373    SN    20  23   53       010        8

[374 rows x 6 columns]

In [3]:
print('2. feladat')
city = input('Adjon meg egy városkódot:').upper()
utolso = df[df['varos'] == city].iloc[-1]
print(f' {city} utolsó mérési időpontja: {utolso.ora}:{utolso.perc}')

2. feladat
Adjon meg egy városkódot:bp
 BP utolsó mérési időpontja: 23:30

In [4]:
print('3. feladat')

df_min = df[df.temp == df.min().temp]
df_max = df[df.temp == df.max().temp]
print(f'A legalacsonyabb hőmérséklet: {df_min.iloc[0,0]} {df_min.iloc[0,2]}:{df_min.iloc[0,3]} {df_min.iloc[0,1]} fok.')
print(f'A legmagasabb hőmérséklet: {df_max.iloc[0,0]} {df_max.iloc[0,2]}:{df_max.iloc[0,3]} {df_max.iloc[0,1]} fok.')

3. feladat
A legalacsonyabb hőmérséklet: SM 23:45 16 fok.
A legmagasabb hőmérséklet: DC 13:15 35 fok.

In [5]:
print('4. feladat')
szel = df[df['szelseb'] == 0]
if szel.shape[0] > 1:
    for c,h,m in zip(list(szel.varos), list(szel.ora), list(szel.perc)):
        print(f'{c} {h}:{m}')
else:
    print('Nem volt szélcsend a mérések idején')

4. feladat
BP 01:00
DC 02:15
SN 03:15
BC 04:45
DC 04:45
SN 05:15
SN 05:45
KE 08:45
BC 11:45

In [6]:
print('5. feladat')
tabla = pd.DataFrame()
df_orak = df[df['ora'].isin(['01','07','13','19'])]
df_filter = df_orak.groupby(['varos']).count()
df_filter = set(df_filter[df_filter['temp']>4].index)

df_kozep = df_orak[df_orak['varos'].isin(df_filter)].groupby(['varos'], sort = True).mean()['temp']
df_min = df.groupby(['varos']).min()['temp']
df_max = df.groupby(['varos']).max()['temp']

tabla['ingadozas'] = df_max - df_min
tabla['kozep'] = df_kozep.round(0)
tabla.fillna('NA', inplace = True)

for v,i,k in zip(tabla.index, tabla.ingadozas, tabla.kozep):
    if k=='NA':
        print(f'{v} {k}; Hőmérséklet-ingadozás: {i}')
    else:
        print(f'{v} Középhőmérséklet: {int(k)}; Hőmérséklet-ingadozás: {i}')

5. feladat
BC NA; Hőmérséklet-ingadozás: 14
BP Középhőmérséklet: 23; Hőmérséklet-ingadozás: 8
DC Középhőmérséklet: 29; Hőmérséklet-ingadozás: 15
KE NA; Hőmérséklet-ingadozás: 13
PA Középhőmérséklet: 21; Hőmérséklet-ingadozás: 7
PP NA; Hőmérséklet-ingadozás: 6
PR Középhőmérséklet: 21; Hőmérséklet-ingadozás: 8
SM Középhőmérséklet: 22; Hőmérséklet-ingadozás: 8
SN Középhőmérséklet: 26; Hőmérséklet-ingadozás: 13

In [7]:
print('6. feladat')
varosok = set(df.varos)

for varos in varosok:
    temp = df[df['varos'] == varos]
    with open(f'{varos}.txt','wt') as f:
        f.write(varos+'\n')
        for i, r in temp.iterrows():
            f.write(f'{r.ora}:{r.perc} ' + r.szelseb * '#' + '\n')
print('A fájlok elkészültek.')

6. feladat
A fájlok elkészültek.